doctype html
html(class='no-js' lang='en')
    head
      title London Glitch Slideshow
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(charset='utf-8')
      block styles
        link(rel='stylesheet', href='https://tympanus.net/Development/GlitchSlideshow/css/base.css')
        link(rel='stylesheet', href='https://tympanus.net/Development/GlitchSlideshow/css/glitch-slideshow.css')
        //include style2.scss
      script(src='asset/js/il.js')
    body(class='demo-2 loading')
      main
        div(class='content content--fixed')
          header(class='codrops-header')
            div(class='codrops-links')
               a(class='codrops-icon codrops-icon--prev' href='/' title='Previous Demo')
                 svg.icon(class='icon--arrow')
                   use(xlink:href='#icon-drop')
               a(class='codrops-icon codrops-icon--drop' href='/' title='Back to the article')
                 svg.icon(class='icon--drop')
                   use(xlink:href='#icon-drop')
            h1(class='codrops-header__title') London Glitch Slideshow
        div(class='content')
          div(class='slides slides--contained effect-2')
            div(class='slide slide--current')
              .slide__img.glitch(style='background-image: url(asset/image/1.jpg);')
              div(class='slide__text')
                h2(class='slide__title') Broken Glow
                p(class='slide__description') Using the #[a(href="#") CSS Glitch Effect] to transition between images of a slideshow.
            div(class='slide')
              .slide__img.glitch(style='background-image: url(asset/image/2.jpg);')
              div(class='slide__text')
                h2(class='slide__title') Morning Dew
                p(class='slide__description') You have learn to bury your guilt with anger. I will teach you to confront it and to face the truth.
            div(class='slide')
              .slide__img.glitch(style='background-image: url(asset/image/3.jpg);')
              div(class='slide__text')
                h2(class='slide__title') Crystal Way
                p(class='slide__description') I just the took to calling it the Bat. And yes Mr. Wayne, it does come in black.
            div(class='slide')
              .slide__img.glitch(style='background-image: url(asset/image/4.jpg);')
              div(class='slide__text')
                h2(class='slide__title') Fine Quest
                p(class='slide__description') You have nothing, nothing to threaten me with. Nothing to do with all your strength.
            div(class='slide')
              .slide__img.glitch(style='background-image: url(asset/image/5.jpg);')
              div(class='slide__text')
                h2(class='slide__title') Dome Being
                p(class='slide__description') I'll be standing where l belong. Between you and the people of Gotham.
          nav(class='slide-nav' ) 
            - var btnType = 'info'
            - var btnSize = 'lg'
                  button(class='slide-nav__button')
                   span Previous
                  |
                  button(class='slide-nav__button')
                    span Next
      script(src='https://tympanus.net/Development/GlitchSlideshow/js/imagesloaded.pkgd.min.js')
      script(src='https://tympanus.net/Development/GlitchSlideshow/js/demo.js')
      script(src='https://tympanus.net/Development/GlitchSlideshow/js/demo2.js')

